# IDEs directories and files#
############
nbproject/
.project
.idea

# Bootstrap and JQuery #
############
public/src/bootstrap-4.3.1/
public/src/jquery/

# Other 3rd party libraries #
############
public/src/ImageViewer
public/src/select2*

# Composer files#
############
private/src/php/vendor
composer.lock

# Private files#
############

public/src/private/vars/*.php
public/src/private/connect_db_function.php

private/config.ini
public/img/icons/**/*.png
public/img/icons/**/*.svg

# GIMP projects #
#################
*.xcf

